{% block body %}
{% trans_default_domain 'FOSUserBundle' %}


    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_panel') }}" class="btn btn-info" role="button">Panel administracyjny</a>
    {% endif %}
</div>
{% endblock %}