{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Ważne do</th>
                <th>Kontakt</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for advertisement in category.advertisements %}
                <tr>
                    <td><a href="{{ path('advertisement_show', { 'id': advertisement.id }) }}">{{ advertisement.title }}</a>
                    </td>
                    <td>{{ advertisement.description }}</td>
                    <td>{% if advertisement.expirationDate %}{{ advertisement.expirationDate|date('Y-m-d H:i:s') }}{% endif %}</td>


                    <td>{{ advertisement.user.phonenumber }}</td>

                    <td>

                        <a href="{{ path('advertisement_edit', { 'id': advertisement.id }) }}" class="btn btn-info" role="button">Edytuj</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="btn-group">
        <a href="{{ path('category_index') }}" class="btn btn-primary" role="button">Lista kategorii</a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if (app.user.username  == advertisement.user.username or is_granted('ROLE_ADMIN')) %}
                <a href="{{ path('advertisement_index') }}" class="btn btn-primary" role="button">Lista ogłoszeń</a>

                <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-info" role="button">Edytuj kategorię</a>

                {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="btn btn-danger" role="button">
                {{ form_end(delete_form) }}
            {% endif %}
        {% endif %}
    </div>    
{% endblock %}
