{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    <h1>Edytuj ogłoszenie</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Zapisz zmiany" class="btn btn-success" role="button">
    {{ form_end(edit_form) }}
    
    {% render(controller("BoardBundle:Photo:newPhoto", {'advertId': advertisement.id})) %}
    
    <div class="btn-group">
        <a href="{{ path('advertisement_index') }}" class="btn btn-primary" role="button">Wróć do listy ogłoszeń</a>

        {{ form_start(delete_form) }}
        <input type="submit" value="Usuń" class="btn btn-danger" role="button">
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
