{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    <h1>Ogłoszenie #{{ advertisement.id }}</h1>

    <table class="table table-striped">
        <tbody>

            <tr>
                <th>Tytuł</th>
                <td>{{ advertisement.title }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ advertisement.description }}</td>
            </tr>
            <tr>
                <th>Kategoria</th>
                <td>{{ advertisement.category.name }}</td>
            </tr>
            <tr>
                <th>Ważne do</th>
                <td>{% if advertisement.expirationDate %}{{ advertisement.expirationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <h3>Zamieścił: {{ advertisement.user.username }}</h3>
    <h3>Numer kontaktowy: {{ advertisement.user.phonenumber }}</h3>


    <div class="form-horizontal">


        {% render(controller("BoardBundle:Comment:newComment", {'advertId': advertisement.id})) %}

        <h3>Komentarze 
            {% if advertisement.comments|length > 0 %}
                <span class="badge">{{advertisement.comments|length }}</span>
            {% endif %}
            :</h3>
        <ol class="list-group">
            {% for comment in advertisement.comments %}
                {% if comment.user is not null %}                    
                    <li class="list-group-item">{{ comment.comment }} ~ {{ comment.user.username }}</li>
                    {% else %}
                    <li class="list-group-item">{{ comment.comment }} ~ Anonimowy</li>
                    {% endif %}
                {% endfor %}
        </ol>
    </div>


    <div class="btn-group">

        <a href="{{ path('advertisement_index') }}" class="btn btn-primary" role="button">Wróć do listy ogłoszeń</a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if (app.user.username  == advertisement.user.username or is_granted('ROLE_ADMIN')) %}
                <a href="{{ path('advertisement_edit', { 'id': advertisement.id }) }}" class="btn btn-info" role="button">Edytuj</a>

                {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="btn btn-danger" role="button">
                {{ form_end(delete_form) }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
