{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    <h1>Ogłoszenie</h1>

    <table class="table table-striped">
        <tbody>

            <tr>
                <th>Tytuł</th>
                <td>{{ advertisement.title }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ advertisement.description }}</td>
            </tr>
            <tr>
                <th>Kategoria</th>
                <td>{{ advertisement.category.name }}</td>
            </tr>
            <tr>
                <th>Ważne do</th>
                <td>{% if advertisement.expirationDate %}{{ advertisement.expirationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <h2>Numer kontaktowy: {{ advertisement.user.phonenumber }}</h2>

    <div class="btn-group">
    
            <a href="{{ path('advertisement_index') }}" class="btn btn-primary" role="button">Wróć do listy ogłoszeń</a>
       
            <a href="{{ path('advertisement_edit', { 'id': advertisement.id }) }}" class="btn btn-info" role="button">Edytuj</a>
        
            {{ form_start(delete_form) }}
            <input type="submit" value="Usuń" class="btn btn-danger" role="button">
            {{ form_end(delete_form) }}
        
    </div>
{% endblock %}
